.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  
  .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 0 1rem;
  }

  img{
    padding: 0.5rem;
  }
}